Repository SatelliteQE/airgun, pull requests merged in 2018-09, with the labels that each got.

#196 Added support of downloading & transferring files from browser
  airgun/browser.py
  airgun/entities/host.py
  airgun/settings.py
  airgun/views/host.py
  settings.ini.example
Labels: enhancement, review

#177 Implemented content host entity
  airgun/entities/contenthost.py
  airgun/session.py
  airgun/views/common.py
  airgun/views/contenthost.py
Labels: entity, view

#189 Implement Host Collection Content Management Actions
  airgun/entities/hostcollection.py
  airgun/views/hostcollection.py
  airgun/views/job_invocation.py
Labels: high

#203 Added some CV helpers and views
  airgun/entities/contentview.py
  airgun/views/common.py
  airgun/views/contentview.py
Labels: entity, view
