Repository SatelliteQE/airgun, pull requests merged in 2022-12, with the labels that each got.

#786 [6.11.z] Fixes for Robottelo Role/Variable UI tests
  airgun/views/ansible_role.py
  airgun/views/ansible_variable.py
  airgun/widgets.py
Labels: No-CherryPick, Auto_Cherry_Picked, 6.11.z

#788 Cherrypicking based on branch labels added to the parent PR
  .github/workflows/auto_cherry_pick.yml
Labels: 6.12.z, CherryPick, 6.11.z, 6.13.z

#792 [6.12.z] Cherrypicking based on branch labels added to the parent PR
  .github/workflows/auto_cherry_pick.yml
Labels: 6.12.z, Auto_Cherry_Picked

#793 [6.11.z] Cherrypicking based on branch labels added to the parent PR
  .github/workflows/auto_cherry_pick.yml
Labels: Auto_Cherry_Picked, 6.11.z

#794 [6.13.z] Cherrypicking based on branch labels added to the parent PR
  .github/workflows/auto_cherry_pick.yml
Labels: Auto_Cherry_Picked, 6.13.z

#790 Ansible UI fixes
  airgun/entities/ansible_role.py
  airgun/views/ansible_role.py
  airgun/views/ansible_variable.py
Labels: view, locator, CherryPick
