Repository SatelliteQE/airgun, pull requests merged in 2023-01, with the labels that each got.

#791 Adding support for config_report
  airgun/entities/config_report.py
  airgun/session.py
  airgun/views/config_report.py
Labels: entity, view, 6.12.z, CherryPick, 6.13.z

#795 [6.13.z] Adding support for config_report
  airgun/entities/config_report.py
  airgun/session.py
  airgun/views/config_report.py
Labels: No-CherryPick, Auto_Cherry_Picked, 6.13.z

#796 [6.12.z] Adding support for config_report
  airgun/entities/config_report.py
  airgun/session.py
  airgun/views/config_report.py
Labels: 6.12.z, No-CherryPick, Auto_Cherry_Picked

#797 No Cherrypick by default
  .github/workflows/auto_cherry_pick.yml
Labels: 6.12.z, CherryPick, 6.11.z, 6.13.z

#800 [6.13.z] No Cherrypick by default
  .github/workflows/auto_cherry_pick.yml
Labels: No-CherryPick, Auto_Cherry_Picked, 6.13.z

#799 [6.12.z] No Cherrypick by default
  .github/workflows/auto_cherry_pick.yml
Labels: 6.12.z, No-CherryPick, Auto_Cherry_Picked

#798 [6.11.z] No Cherrypick by default
  .github/workflows/auto_cherry_pick.yml
Labels: No-CherryPick, Auto_Cherry_Picked, 6.11.z
